node_modules/
src/controller/backups/
# public/
.log.txt
rejections.log
exceptions.log
error.log
package-lock.json
.env
yarn.lock
public/
.qodo
services/test-notification-eaa74-firebase-adminsdk-fbsvc-ab22a71ce8.json